<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports2Day || sports-2day , sports-2day.com  is committed to delivering top-notch sports content</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/public/styles/main.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/public/favicon_io/site.webmanifest">
</head>
<body>
  <section class="header">
  <header>  
    <nav>
      <div class="nav-small-screen">
      <a href="#" class="logo"><img src="/public/icons/sports2daylogo-transparent-cropped.png" alt=""> </a>
      <div class="humburger">   
       <span></span>
       <span></span>   
       <span></span>   
      </div>
      </div>
      <div class="nav-big-screen">
      <a href="#" class="logo"> <img src="/public/icons/sports2daylogo-transparent-cropped.png" alt=""> </a>
      <div class="links big-screen-links">
       <a href="#">Browse<i class="fa-solid fa-chevron-down"></i></a>  
       <a href="#">Qatar<i class="fa-solid fa-chevron-down"></i></a> 
       <a href="#">World Cup<i class="fa-solid fa-chevron-down"></i></a> 
       <a href="#">International<i class="fa-solid fa-chevron-down"></i></a> 
       <a href="#">Advertise</a> 
       <a href="#">Get in touch</a> 
       <a href="#">Login</a> 
      </div>
      <div class="social-media">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
      </div>  
      </div>
  
      <div class="small-screen-menu">
        <div class="small-screen-menu-header-container">
          <div class="small-screen-menu-header-wrapper">
          <a href="#" class="logo logo-side-bar"><img src="public/icons/sports2daylogo-transparent-cropped.png" alt=""></a>
          <span class="close-menu"><i class="fa-solid fa-xmark"></i></span>
        </div>
        </div>
        <div class="links small-screen-links">
          <a href="#">Browse</i></a>  
          <a href="#">Qatar</i></a> 
          <a href="#">World Cup</i></a> 
          <a href="#">International</i></a> 
          <a href="#">Advertise</a> 
          <a href="#">Get in touch</a> 
          <!-- <a href="#">Login</a>  -->
         </div>
  
         <div class="social-media-small-screens">
          <p>Let's get social</p>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
      </div>  
      </div>
    </nav>
<a href="#" class="story-of-day">  

</a>

</header>

<section class="section-top-stories">
  <div class="quick-links">
  <div class="categories-quick-links">
    <a href="#">#International</a>
    <a href="#">#Football</a>
    <a href="#">#Rugby</a>
    <a href="#">#World Cup</a>
    <a href="#">#Equesterian Club</a>
    <a href="#">#Basket Ball</a>
  </div>  
  <!-- <div class="search-wrapper">
    <input type="text" placeholder="search...">
    <i class="fa-solid fa-magnifying-glass search-icon"></i>
  </div> -->
</div>
</section>
<div class="section-heading-wrapper section-heading-light">
<h3 class="section-heading">Trending in Sports</h3>
<!-- <span class="see-more" >See more <i class="fa-solid fa-angles-right"></i> </span> -->
</div>
<div class="top-story-container">
  <div class="top-story-big">
      <div class="bigger-post-description">
        <h2 class="trending-big-title"></h2>
        <p class="trending-short-description"></p>
        <a href="" class="btn btn-primary btn-read-more btn-read-more-trending">Read More</a>  
      </div>
   </div>
   <div class="small-posts top-story">
    
   </div>
</div>
</section>

<main>

<section class="general-news">
<article class="breaking-news-section">  

</article>

</section> 
<article class="more-news-container">
   <div class="section-heading-wrapper section-heading-light">
    <h3 class="section-heading">MORE NEWS :</h3>
    <!-- <span class="see-more" >See more <i class="fa-solid fa-angles-right"></i> </span> -->
    </div>
  <section class="small-posts-container more-news-small-container">

  </section>
</article>
</main>

<footer>
  <div class="footer-wrapper">
    <h4 class="logo-footer">
      <a href="#" class="logo"> <img src="/public/icons/sports2daylogo-transparent-cropped.png" alt=""> </a>
    </h4>
  <div class="footer-links-wrapper">
  </div>
  <div class="footer-links-wrapper">
    <div>
    <h6>Explore</h6>
   <p></p><a href="#">Browse</a></p>
   <p><a href="#">World cup</a></p>
   <p><a href="#">International</a></p>
   <p><a href="#">Advertise with us</a></p>
  </div>
  </div>
  <div class="footer-links-wrapper">
    <h6>About Us</h6>
    <a href="#">Privacy Policy</a>
    <a href="#">cookies</a>
    <a href="#">Our Mission</a>
    <a href="#">Contact us</a>
  </div>
  <div class="footer-links-wrapper footer-links-social">
    <h6>Social</h6>
    <a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a>
    <a href="#"><i class="fa-brands fa-twitter"></i> Twitter</a>
    <a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
    <a href="#"><i class="fa-brands fa-youtube"></i> Youtube</a>
  </div>
  <div class="footer-links-wrappper">
    <div class="subscribe-newsletter">
    <p>Don't miss latest Sports Updates</p>  
    <input type="email" placeholder="Your email">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
  </div>
  </div>
<div class="copyright-container">  
<p>sports2day is committed to delivering top-notch sports content</p>

<p>&copy 2023 Sports 2day</p>
</div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/contentful@latest/dist/contentful.browser.min.js"></script>
<script src="/public/scripts/index.js"></script>
</body>
</html>