@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,300&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}
:root{
    --clr-primary:#be1c4d;
    --clr-primary1:#ec4a7b;
    --clr-secondary:#8a1538;
    --clr-background:#ff004c;
    /* --clr-section-gradient:; */
    --clr-accent:#fd6fff;
}

html{
    scroll-behavior: smooth;
  }
  img{
    max-width: 100%;
  }
/* h1,h2,h3,h4,h5,h6{

} */
a{
  text-decoration: none;
  /* font-weight: 400;   */
}
/* body{
    background: #8a1538;
} */
.btn-share-post{
    margin-left: 2rem;
    cursor: pointer;
    transition: 200ms ease-in-out;
}
.btn-share-post:hover{
    transform: scale(1.1);
}
.ad{
    color: #333;
    text-align: center;
    background: #eee;
    position: relative;
}
/* NAV STYLES */
.logo{
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    /* font-style: oblique; */
    font-family: 'Press Start 2P', cursive;
}
.btn-see-more{
    /* text-align: center; */
    display: block;
    border: 2px solid #660724;
    max-width: 150px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.4rem;
    margin-bottom: 1.2rem;
    border-radius: 0.1rem;
    font-weight: 550;
    transition: 250ms ease-in-out;
    /* font-weight: bold; */
    color: #660724 !important;
    padding: 0.3rem 1.4rem;  
    /* background: #b00d67   ; */
    text-transform: capitalize
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ;
}
.btn-see-more:hover{
    transform: scale(1.05);
}
nav{
  padding: 0.2rem;
  background: #660724;
  color:#fff;
  opacity: 0.95;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}
.logo img{
    max-width: 200px;
    max-height: 35px;
    position: relative;
    top: 0.15rem;
}
nav a{
    color: #eee;
    /* font-weight: 600; */
    font-size: 1.2rem;
}
.nav-small-screen{
    display: none;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 1.5rem 0rem 1.5rem;
}
.humburger span{
    background: #fff;
    width: 1.7rem;
    height: 0.1rem;
    display: block;
    margin-bottom: 0.3rem;
}    
.nav-big-screen{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    justify-content: center;
    align-items: center;
}
.nav-big-screen .fa-chevron-down{
    font-size: 0.6rem;
}
.big-screen-links a{
    margin-left: 2rem;
    font-size: 0.95rem;
    transition: 250ms ease-in-out;
}
.big-screen-links a:hover{
    /* color: blueviolet; */
    border-bottom: 2px solid #fff;
}
.big-screen-links>*{
   margin-left: 1rem; 
}
.nav-big-screen .logo{
    font-size: 1.2rem
}
.social-media>*{
margin-left: 0.5rem;
}
.social-media{
    background: #eee;
    padding: 0.1rem;
    border-radius: 0.1rem;
}
.social-media a i{
    transition: 250ms ease-in;
}
.social-media a i:hover{
    transform: scale(1.15);
}
.social-media a:nth-of-type(1){
    color: #4267B2;
    /* font-weight: 500; */
}
.social-media a:nth-of-type(2){
  color:#1DA1F2;  
}
.social-media a:nth-of-type(3){
    color: #efc689;
}
.social-media a:nth-of-type(4){
   color: #FF0000; 
}

.big-screen-links:hover{

}
/* NAV STYLES */
header{
    position: relative;
}
.header{
background: #18011a; 
padding: 0rem 0rem 2rem 0rem;
}



/* MAIN CONTENT STYLES */
    main{
        padding: 1rem;
        margin: 1rem;
    }
    .all-content-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #f8f8f8;
    }

    .main-img{
        width: 100%;
        height: 100%;
        max-width: 870px;
        max-height: 480px;
        object-fit: fill;
        padding: 1rem;
    }
    .article-header{
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
    .main-news-title{
        margin: 2rem 0rem 0.4rem 0rem;
        max-width: 900px;
        /* padding: 0.1rem; */
    }
    .time-stamp .time{
        font-size: 0.8rem;
    }
    .time-stamp{
        padding: 1rem 1rem 1rem 0.5rem;
        display: flex;
        align-items: center;
        justify-items: center
    }
    .time-stamp>*{
        margin-right: 1rem;
    }
    .share-btns>*{
        padding: 0.4rem;
    }
    .content-body p{
        /* margin-bottom: 1rem; */
        line-height: 1.75;
        max-width: 750px;
        padding: 1rem;
    }
    .embeded-container{
        padding: 1rem;
        margin: 1rem;
        display: grid;
        justify-content: center;
        /* justify-items: center; */
    }
    .subheading{
        padding: 1rem;
    }

/* MAIN CONTENT STYLES */




/* FOOTER */
.footer-wrapper{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1rem;
    justify-content: center;
    border-bottom: 1px solid #555;
    padding-bottom: 1rem;
}
footer{
    background: linear-gradient(89.7deg, rgb(63, 3, 43) 2.8%, rgb(78, 5, 84) 97.8%);
    padding: 1.5rem;
}
.footer-links-wrapper a{
    display: block;
    font-size: 1rem;
    color: #fff;
    padding: 0.5rem;
    transition: 250ms ease-in-out;
}
.footer-links-wrapper a:hover{
    color: #ddaefe;
}
.footer-links-social a:nth-of-type(1):hover{
    color: #4267B2;
}
.footer-links-social a:nth-of-type(2):hover{
  color:#1DA1F2;  
}
.footer-links-social a:nth-of-type(3):hover{
    color: #fbad50;
}
.footer-links-social a:nth-of-type(4):hover{
   color: #FF0000; 
}

footer h6{
    padding: 0.5rem;
    font-size: 0.9rem;
    color: #7a6f6f;
}
.copyright-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0.2rem;
    gap: 1rem;
    color: #eee;
    font-weight: 400;
    font-size: 0.75rem;
    flex-wrap: wrap;
}
.copyright-container p{
    max-width: 48rem;
    text-align: center;
}
   .logo-footer{
     font-family: 'Press Start 2P', cursive;
    }
.subscribe-newsletter{
    /* padding: 0.5rem 2rem; */
    padding: 0.3rem;
    /* border: 1px solid rgb(126, 37, 108); */
    border-radius: 0.2rem;
    position: relative;
}
.subscribe-newsletter input{
    /* height: 30px; */
    border: none;
    outline: none;
    padding: 0.48rem 0.4rem;

}
.subscribe-newsletter .fa-chevron-right{
    position: absolute;
    color: #fff;
    background: #cd128b;
    padding: 0.6rem 0.7rem;
    border-radius: 0px 6px 6px 0px;
    /* margin-top: -0.15rem; */
}
.subscribe-newsletter p{
    color: #bbb7dd;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}
/*END OF FOOTER */




/* MEDIA QUERIES -always keep this at the end of all code */

/* styles apply as long as screen not bigger than 800px */
@media (max-width:1050px){
    .nav-big-screen{
        display: none;
    }
    .nav-small-screen{
        display: flex;
    }
   
    }
    @media (max-width:1000px){
        .footer-wrapper{
            grid-template-columns: 1fr 1fr;
        }

    }
    @media (max-width:750px){
        .article-header{
            grid-template-columns: 1fr
        }
    }

    @media (max-width:480px){
        .footer-wrapper{
            grid-template-columns: 1fr;
        }
    }
    @media (min-width:750px){
        .time-stamp{
            display: grid;
            grid-template-columns: 1fr;
            margin-top: 1rem;
        }
    }
    