@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,300&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}
:root{
    --clr-primary:#be1c4d;
    --clr-primary1:#ec4a7b;
    --clr-secondary:#8a1538;
    --clr-background:#ff004c;
    /* --clr-section-gradient:; */
    --clr-accent:#fd6fff;
}

html{
    scroll-behavior: smooth;
  }
  img{
    max-width: 100%;
  }
/* h1,h2,h3,h4,h5,h6{

} */
a{
  text-decoration: none;
  /* font-weight: 400;   */
}
/* body{
    background: #8a1538;
} */

/* NAV STYLES */
.logo{
    font-size: 1.4rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    /* font-style: oblique; */
}
nav{
  padding: 1.1rem;
  background: #660724;
  color:#fff;
  opacity: 0.95;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}
nav a{
    color: #dddd;
    /* font-weight: 600; */
    font-size: 1.2rem;
}
.nav-small-screen{
    display: none;
    justify-content: space-around;
    align-items: center;
}
.humburger span{
    background: #fff;
    width: 1.7rem;
    height: 0.2rem;
    display: block;
    margin-bottom: 0.3rem;
}    
.nav-big-screen{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    justify-content: center;
    align-items: center;
}
.nav-big-screen .fa-chevron-down{
    font-size: 0.8rem;
}
.big-screen-links>*{
   margin-left: 1rem; 
}
.nav-big-screen .logo{
    font-size: 1.2rem
}
.social-media>*{
margin-left: 0.5rem;
}
.big-screen-links:hover{

}
.big-screen-links a::after{
    content: "";
    display: inline-block;
    width: 21px;
    height: 2px;
    background: #fff;
    margin-left: -20px;

}
/* NAV STYLES */
header{
    background: #93143a;
    background:url(/images/lusail-stadium.webp);
    background-blend-mode:multiply;
    height: 85vh;
    /* clip-path: circle(100.2% at 49% 0); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center center;
    position: relative;
}

.story-for-day-heading{
    color: #fff;
    position: absolute;
    bottom: 0;
    margin-bottom: 1.8rem;
    margin-left: 0.2rem;
    text-transform: uppercase;
    font-size: clamp(1rem, 10vw, 2.5rem); 
    padding: 1rem;
    border: 2px solid #fff;
}
.story-for-day-heading .category{
    font-size: 1rem;
    margin-left: 1rem;
    color: #fff;
    font-weight: 900;
    background: #660724;
    padding: 0.3rem;
    letter-spacing: 1.5px;
}
/* SECTION TOP STORIES */
.section-top-stories{
 /* width: 500px; */

}
.header{
background: #18011a;  /* fallback for old browsers */
/* background: -webkit-radial-gradient( #6f0000, #d82c66);  */
 /* Chrome 10-25, Safari 5.1-6 */
/* background: radial-gradient(#180104, #410c0c);  */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 0rem 0rem 2rem 0rem;
}
.quick-links{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
.categories-quick-links{
    display: flex;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    gap: 0.5rem;
    align-items: center;
    padding: 1rem 0.5rem 1rem 0.5rem;
     
}/* Hide scrollbar for Chrome, Safari and Opera */
.categories-quick-links::-webkit-scrollbar {
    display: none;
  }
.categories-quick-links>*{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0.8rem;
    margin-right:0.1rem;
    margin-left:0.1rem ;
    min-width: 160px;
    /* height: 30px; */
    padding-left: 0.5rem;
    /* padding-bottom: -1rem; */
    font-size:0.8rem;
}
.search-wrapper{
    order: -1;
    /* width: 100px; */
    margin: 1rem;
    justify-content: center;
    text-align: center;
    display: flex;
}
.search-wrapper input{
    outline: none;
    border: none;
    padding: 0.5rem 2.5rem;
    border-radius: 1.3rem;
    background: #29032c;
    position: relative;
    border: 2px solid #fff;
    color: #fff;
    position: relative;
}
.search-wrapper .search-icon{
    position: absolute;
    /* margin-left: rem; */
    /* right:20% ; */
    margin-right:-12rem;
    color: #fff;
    padding-top: 0.75rem;
}
.section-heading-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem 1rem 1rem;
    align-items: center;
}
.section-heading-light{
    color: #fff;
}
.section-heading-wrapper h3{
    /* border: 2px solid #2313b1; */
    background: #af1d49;
    padding: 0.5rem 0.2rem 0.5rem 0.2rem ;
    border-radius: 0.1rem;
    color: #fff;
}
.dark{
    color: #710e2c;
}
.top-story-container{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
/* TOP STORY POST */
.top-story-big{
    position: relative;
    width: 100%;
    height:450px;
    background: #200518;
    background: url("/images/horse-jumping.jpg"),
                       radial-gradient(#9c9a9a, #340329);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center center;   
    color: #fff;
    padding: 9em 1em;
    /* border-radius: 0.5rem; */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
/*END  OF TOP STORY POST */

/* WORLD CUP POST */
.world-cup .top-story-big{
    position: relative;
    width: 100%;
    height:450px;
    background: #200518;
    background: url("/images/worldcup.jpg"),
                       radial-gradient(#9c9a9a, #340329);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center center;   
    color: #fff;
    padding: 9em 1em;
    /* border-radius: 0.5rem; */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
/* END OF WORLD CUP POST */
.football .top-story-big{
    position: relative;
    width: 100%;
    height:450px;
    background: #200518;
    background: url("/images/qsl4.jpg"),
                       radial-gradient(#9c9a9a, #340329);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center center;   
    color: #fff;
    padding: 9em 1em;
    border-radius: 0.5rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.car-racing .top-story-big{
    position: relative;
    width: 100%;
    height:450px;
    background: #200518;
    background: url("/images/desert-racing.jpg"),
                       radial-gradient(#9c9a9a, #340329);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center center;   
    color: #fff;
    padding: 9em 1em;
    border-radius: 0.5rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.bigger-post-description{
    max-width: 600px;
}
  .top-story-big h3{
    font-size: 1.8rem;
  }
  .small-posts{
    /* height: 450px; */
    background: #eee;
    padding: 0.3rem;
    /* border-radius: 0.5rem; */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
  .small-posts .small-post{
    display: flex;
    margin: 1rem 0.1rem 1.5rem 0.1rem;
    gap:1rem;
    height: 95px;
    max-height: 150px;
    padding: 0rem 0.2rem;
    font-weight: 400;
  }
  .small-posts .small-post img{
    height: 100%;
    /* width: 100%; */
    border-radius: 0.15rem;
  }
  /* .description-txt{
  text-align: center;
  padding: 0.1rem 1rem;
} */
.bigger-post-description>*+*{
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
  padding: 0.2rem;
}
.btn-primary{
  border: 2px solid #ffff;
  padding: 0.2rem 0.6rem;
  border-radius: 1.2rem;
  color: #fff;

}
.read-more-btn{
  display: inline-block;
  /* background: #7b0548; */
  color: #fff;
  padding: 0.3rem 0.6rem 0.4rem 0.6rem;
  border-radius: 0.3rem;
  transition: 250ms ease-in;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.read-more-btn:hover{
  opacity: 0.8;
  transform: scale(1.05);
}
.description-txt-small p{
    margin-bottom: 0.5rem;
}
.post-meta-data{
  /* background: #eed0e8;   */
  padding: 0.3rem;
}
/* SECTION TOP STORIES */


/* JOSEPH CSS STARTS HERE */
.news-category-section{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    position: relative;
}
.news-category-section a{
    text-decoration: none;
    color: #000;
}

.football-updates-section img{
    width: 320px;
}
.football--updates{
    width: 320px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #18011a;
    color: #fff;
    margin-bottom: 0.9rem;
}
.football--updates a{
    color: #fff;
}
.football--desc{
    padding: 10px 15px;
}
.football--updates h4 a{
    border: 1px solid #fff;
    padding: 4px 8px;
    
}
.football--updates h4{
    margin-bottom: 0.4rem;
}
.news-category-section .time--stamp{
    display: block;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    opacity: 0.6;
}
.site-breaking-news{
    width: 320px;
}
.site--breaking-news{
    margin-bottom: 0.6rem;
}
.news-category-advert{
    display: flex;
    flex-direction: column;
    width: 320px;
}
.invisible-ad{
    margin-top: 13rem;
    visibility: hidden;
}
.news-category-section .news-category-advert{
    position: sticky;
    /* top: 0; */
}
/* JOSEPH CSS ENDS HERE */


/* MEDIA QUERIES -always keep this at the end of all code */

/* styles apply as long as screen not bigger than 800px */
@media (max-width:1050px){
.nav-big-screen{
    display: none;
}
.nav-small-screen{
    display: flex;
}

}
@media (min-width:700px) {
    .quick-links{
        grid-template-columns: 2fr 1fr;
    }
    .search-wrapper{
        order: 1;
    }

    .section-heading-wrapper{
         margin: 1rem 6rem 1rem 6rem;
    }
}
@media(min-width:1000px){
header{background-position: center center};
}
@media (max-width:1000px){
.top-story-container{
    grid-template-columns: 1fr;
}

}
@media (max-width:500px) {
    .small-post img{
        width: 135px;
    }
    .small-post{
        font-size: 0.85rem;
        line-height: 1.5;
    }
    .top-story-big h3{
        font-size: 1.2rem;
      }
}
