@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,300&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}
:root{
    --clr-primary:#be1c4d;
    --clr-primary1:#ec4a7b;
    --clr-secondary:#8a1538;
    --clr-background:#ff004c;
    /* --clr-section-gradient:; */
    --clr-accent:#fd6fff;
}

html{
    scroll-behavior: smooth;
  }
  img{
    max-width: 100%;
  }
/* h1,h2,h3,h4,h5,h6{

} */
a{
  text-decoration: none;
  /* font-weight: 400;   */
}
/* body{
    background: #8a1538;
} */
.btn-share-post{
    margin-left: 2rem;
    cursor: pointer;
    transition: 200ms ease-in-out;
}
.btn-share-post:hover{
    transform: scale(1.1);
}
.ad{
    color: #333;
    text-align: center;
    background: #eee;
    position: relative;
}
/* NAV STYLES */
.btn-see-more{
    /* text-align: center; */
    display: block;
    border: 2px solid #660724;
    max-width: 150px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.4rem;
    margin-bottom: 1.2rem;
    border-radius: 0.1rem;
    font-weight: 550;
    transition: 250ms ease-in-out;
    /* font-weight: bold; */
    color: #660724 !important;
    padding: 0.3rem 1.4rem;  
    /* background: #b00d67   ; */
    text-transform: capitalize
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ;
}
.btn-see-more:hover{
    transform: scale(1.05);
}
nav{
  padding: 0.4rem;
  background: #660724;
  color:#fff;
  opacity: 0.98;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}
.logo img{
    max-width: 120px;
    max-height: 30px;
    position: relative;
    top: 0.15rem;
}
nav a{
    color: #eee;
    /* font-weight: 600; */
    font-size: 1.2rem;
}
.nav-small-screen{
    display: none;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 1.5rem 0rem 1.5rem;
}
.humburger{
    cursor: pointer;
}
.humburger span{
    background: #fff;
    width: 1.6rem;
    height: 0.12rem;
    display: block;
    margin-bottom: 0.3rem;
}    
.nav-big-screen{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    justify-content: center;
    align-items: center;
}
.nav-big-screen .fa-chevron-down{
    font-size: 0.6rem;
}
.big-screen-links a{
    margin-left: 2rem;
    font-size: 0.95rem;
    transition: 250ms ease-in-out;
}
.big-screen-links a:hover{
    /* color: blueviolet; */
    border-bottom: 2px solid #fff;
}
.big-screen-links>*{
   margin-left: 1rem; 
}
.nav-big-screen .logo{
    font-size: 1.2rem
}
.social-media>*{
margin-left: 0.5rem;
}
.social-media{
    background: #eee;
    padding: 0.1rem;
    border-radius: 0.1rem;
}
.social-media a i{
    transition: 250ms ease-in;
}
.social-media a i:hover{
    transform: scale(1.15);
}
.social-media a:nth-of-type(1){
    color: #4267B2;
    /* font-weight: 500; */
}
.social-media a:nth-of-type(2){
  color:#1DA1F2;  
}
.social-media a:nth-of-type(3){
    color: #efc689;
}
.social-media a:nth-of-type(4){
   color: #FF0000; 
}

/* .big-screen-links:hover{
    TO DO TO DO
} */
.small-screen-menu{
    /* background: #660724; */
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    background: #660724;  /*fallback bg color for old and unsupported browsers*/
    background:linear-gradient(-120deg, #660724, #ba1d4c, #660724);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 200ms ease-in;
}
.small-screen-menu .small-screen-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* align-items: center; */
    justify-content: space-between;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
    max-height: 400px;
    width: 100%;
    margin-left: 2rem;
}
.small-screen-links a{
    font-size: 1rem;
}
.social-media-small-screens{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2rem;
}
.social-media-small-screens>*{
    margin: 1.02rem;
}
.small-screen-menu-header-container{
    border-bottom: 1px solid #9c8e8e;
}
.small-screen-menu-header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: -1rem;
    margin-bottom: 0.4rem;
}
.close-menu{
    display: block;
    cursor: pointer;
}
 .close-menu i{
    font-size: 1.25rem;
}
header{
    position: relative;
}
.header{
background: #18011a; 
padding: 0rem 0rem 2rem 0rem;
}
/* NAV STYLES */
.logo{
    /* font-size: 1.2rem; */
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    /* font-style: oblique; */
    /* font-family: 'Press Start 2P', cursive; */
}
.btn-see-more{
    /* text-align: center; */
    display: block;
    border: 2px solid #660724;
    max-width: 150px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.4rem;
    margin-bottom: 1.2rem;
    border-radius: 0.1rem;
    font-weight: 550;
    transition: 250ms ease-in-out;
    /* font-weight: bold; */
    color: #660724 !important;
    padding: 0.3rem 1.4rem;  
    /* background: #b00d67   ; */
    text-transform: capitalize
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ;
}
.btn-see-more:hover{
    transform: scale(1.05);
}
.logo img{
    max-width: 120px;
    max-height: 30px;
    position: relative;
    top: 0.3rem;
}

/* NAV STYLES */
header{
    /* background: #93143a; */
    background:url(/images/latin-america-fan/Latin\ American\ fan\ events\ -\ Argentina\ &\ Mexico4.jpg);
    background-blend-mode:multiply;
    height: 80vh;
    /* clip-path: circle(100.2% at 49% 0); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center center;
    position: relative;
}

.story-for-day-heading{
    color: #fff;
    position: absolute;
    bottom: 0;
    margin-bottom: 1.8rem;
    margin-left: 0.2rem;
    text-transform: capitalize;
    font-size: clamp(1rem, 10vw, 1.8rem); 
    padding: 1rem;
    border: 2px solid #fff;
    letter-spacing: 1.5px;
    max-width: 850px;
}
.story-for-day-heading .category{
    font-size: 1rem;
    margin-left: 1rem;
    color: #fff;
    font-weight: 900;
    background: #660724;
    padding: 0.3rem;
    letter-spacing:3px;
    text-transform: capitalize;
    display: inline-block;
}
/* SECTION TOP STORIES */
/* .section-top-stories{
 

} */
.header{
background: #18011a;  
padding: 0rem 0rem 2rem 0rem;
}
.quick-links{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
.categories-quick-links{
    display: flex;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    gap: 0.5rem;
    align-items: center;
    padding: 1rem 0.5rem 1rem 0.5rem;
     
}/* Hide scrollbar for Chrome, Safari and Opera */
.categories-quick-links::-webkit-scrollbar {
    display: none;
  }
.categories-quick-links>*{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0.8rem;
    margin-right:0.1rem;
    margin-left:0.1rem ;
    min-width: 160px;
    /* height: 30px; */
    padding-left: 0.5rem;
    /* padding-bottom: -1rem; */
    font-size:0.8rem;
}
.search-wrapper{
    order: -1;
    /* width: 100px; */
    margin: 1rem;
    justify-content: center;
    text-align: center;
    display: flex;
}
.search-wrapper input{
    outline: none;
    border: none;
    padding: 0.5rem 2.5rem;
    border-radius: 1.3rem;
    background: #29032c;
    position: relative;
    border: 2px solid #fff;
    color: #fff;
    position: relative;
}
.search-wrapper .search-icon{
    position: absolute;
    /* margin-left: rem; */
    /* right:20% ; */
    margin-right:-12rem;
    color: #fff;
    padding-top: 0.75rem;
}
.section-heading-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem 1rem 1rem;
    align-items: center;
}
.section-heading-light{
    color: #fff;
}
.section-heading{
    font-size: clamp(1.2rem, 2.5vw, 1.4rem); 
}
.section-heading-wrapper h3{
    /* border: 2px solid #2313b1; */
    background: #660724;
    padding: 0.5rem 0.2rem 0.5rem 0.2rem ;
    border-radius: 0.1rem;
    color: #fff;
}
.dark{
    color: #710e2c;
}
.top-story-container{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
/* TOP STORY POST ie TRENDING */
.top-story-big{
    position: relative;
    width: 100%;
    height:450px;
    background: #200518;
    background: url("/images/fifa-sound/Artists_Combo_1040x585.jpg"),
                       radial-gradient(#d6d6d6, #4e053e);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center center;   
    color: #fff;
    padding: 7.5em 0.8em;
    /* border-radius: 0.5rem; */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
/*END  OF TOP STORY POST */

.bigger-post-description{
    max-width: 600px;
}
  .top-story-big h2{
    font-size: 1.5rem;
  }
  .top-story-big p{
    /* background: #0202cf; */
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
    line-height:2;
    font-weight: 600;
  }
  .small-posts{
    /* height: 450px; */
    background: #18011a;
    padding: 0.3rem;
    /* border-radius: 0.5rem; */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
  .small-posts .small-post{
    display: flex;
    margin: 1rem 0.1rem 1.5rem 0.1rem;
    gap:1rem;
    height: 95px;
    max-height: 150px;
    padding: 0rem 0.2rem;
    font-weight: 400;
  }
  .small-posts .small-post img{
    height: 100%;
    /* width: 100%; */
    border-radius: 0.15rem;
  }
  .small-posts .small-post{
    color: #eee;
  }
  /* .description-txt{
  text-align: center;
  padding: 0.1rem 1rem;
} */
.bigger-post-description>*+*{
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
  padding: 0.2rem;
}
.btn-primary{
  border: 2px solid #ffff;
  padding: 0.2rem 0.6rem;
  border-radius: 1.2rem;
  color: #fff;

}
.read-more-btn{
  display: inline-block;
  /* background: #7b0548; */
  color: #fff;
  padding: 0.3rem 0.6rem 0.4rem 0.6rem;
  border-radius: 0.3rem;
  transition: 250ms ease-in;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.read-more-btn:hover{
  opacity: 0.8;
  transform: scale(1.05);
}
.description-txt-small p{
    margin-bottom: 0.5rem;
    color: #fff;
}
.post-meta-data{
  /* background: #eed0e8;   */
  padding: 0.3rem;
}
.time-stamp{
    color: #bdb2b2;
}
/* SECTION TOP STORIES */


/* JOSEPH CSS STARTS HERE */
.news-category-section{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 20px;
    position: relative;
}
.news-category-section a{
    text-decoration: none;
    color: #191717;
    transition: 200ms ease-in;
}
.news-category-section a:hover{
    color: #3333d2;
}

.football-updates-section img{
    width: 420px;
    height: 235px;
}
.football--updates{
    width: 420px;
    overflow: hidden;
    background-color: #18011a;
    color: #fff;
    margin-bottom: 0.9rem;
}
.football--updates a{
    color: #fff;
}
.football--desc{
    padding: 10px 15px;
}
.football--updates h4 a{
    border: 1px solid #fff;
    padding: 4px 8px;
    
}
.football--updates h4{
    margin-bottom: 0.4rem;
}
.news-category-section .time--stamp{
    display: block;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    opacity: 0.6;
}
.site-breaking-news{
    width: 420px;
}
/* .site--breaking-news */
.site--breaking-news{
    margin-bottom: 0.6rem;
    /* border-bottom: 1px solid #333; */
}
.fa-clock{
    padding: 0.5rem;
}
/* main{
    position: relative;
} */
/* .news-category-advert{
    display: flex;
    flex-direction: column;
    width: 420px;
    position: sticky;
    top:0.5rem;
} */
.news-category-section img, .small-post img{
    transition:350ms ease-in-out;
}
.news-category-section img:hover, .small-post img:hover{
    transform: scale(1.05);
}
.news-category-advert .big-screen-ad{
    display: block;
}
.news-category-advert .small-screen-ad{
    display: none;
}
.site-breaking-news h2 a{
    background-color: #af1d49;
    color: #fff;
    padding: 0.2rem 0.6rem;
}
.small-screen-more-category{
    display: none;
}
.all-breaking--news a{
    color: #970430;
    font-weight: 600;
    transition: 200ms ease-in;
}
.all-breaking--news a:hover{
    transform: scale(1.1);
    color: #0202cf;
}

/* SECTION-MORE-NEWS */

.more-news-container{
 margin: 0.5rem;
 display: grid;   
 /* grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) ); */
}
.small-posts-container{
    display: grid;   
    grid-template-columns: repeat( auto-fit, minmax(370px, 1fr) );
    gap: 1rem;
    justify-content: center;
    justify-items: center;
}
.more-news-container .small-post{
    display: flex;
    gap: 1rem;
    /* background: #eee; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    height: 95px;
    max-width: 450px;
    /* background: #f9f5f5; */
}

.more-news-container .small-post .description-txt{
    max-width: 350px;
}
.more-news-container .small-post .description-txt{
    color: #01010f;
  
}
.more-news-container .small-post .description-txt p,.more-news-container .small-post .description-txt h3{
    padding:0.1rem;
    font-size:1rem;
    /* font-weight: 300; */
}
.more-news-container .small-post .description-txt p{
    font-size: 0.9rem;
    color: #555;
}
.more-news-container .small-post .description-txt h3{
    font-weight: 550;
    color: #555;
}
.more-news-container .small-post img{
height: 80px;
max-width: 130px;
width: 100%;
object-fit: cover;
border-radius: 0.25rem 0rem 0rem 0.25rem;
}

/* SECTION-MORE-NEWS */

/* JOSEPH CSS ENDS HERE */
/* SECTION VIDEOS */
.video-section{
    background: #eee;
    padding-bottom: 1rem;
}
.videos-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* padding-top: 2rem; */
    padding-bottom: 1rem;
}
.videos-post{
    max-width: 400px;
    margin: 1rem;
    height: 300px;
    transition:250ms ease-in-out;
    cursor: pointer;
}

.videos-post:hover{
    transform: scale(1.015);
}
.video-thumb{
    position: relative;
    height: 100%;
}
.video-thumb img{
    width: 100%;
    height: 100%;
    object-fit:fill;
}
.video-overlay{
    position: absolute;
    background: rgba(6, 5, 5, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.video-txt{
    position: absolute;
    bottom: 2.5rem;
    left: 2rem;
    color: #ffff;
    z-index: 2;
    font-weight: 600;
}
.video-play-btn{
    font-size: 0.8rem;
    background: #ec4a7b;
    padding: 0.6rem 0.7rem;
    border-radius:60%;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}
.video-duration{
    margin-left: 0.8rem;
    /* background: #140115; */
}
.section-videos-heading{
    margin-left: 2.5rem;
    margin-top: 1.5rem;
    padding: 0.2rem 0.2rem;
    font-size: clamp(1.3rem, 2.5vw, 2rem); 
    /* background: #970430; */
    /* color: #fff; */
    /* color: #af1d49; */
    
}
/*END OF SECTION VIDEOS */


/* FOOTER */
 .footer-wrapper{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    /* background: radial-gradient(#130115, #340329); */
    gap: 1rem;
    justify-content: center;
    /* justify-items: center; */
    border-bottom: 1px solid #555;
    padding-bottom: 1rem;
}
footer{
    background: linear-gradient(89.7deg, rgb(63, 3, 43) 2.8%, rgb(78, 5, 84) 97.8%);
    padding: 1.5rem;
}
.footer-links-wrapper a{
    display: block;
    font-size: 1rem;
    color: #fff;
    padding: 0.5rem;
    transition: 250ms ease-in-out;
}
.footer-links-wrapper a:hover{
    color: #ddaefe;
}
.footer-links-social a:nth-of-type(1):hover{
    color: #4267B2;
    /* font-weight: 500; */
}
.footer-links-social a:nth-of-type(2):hover{
  color:#1DA1F2;  
}
.footer-links-social a:nth-of-type(3):hover{
    color: #fbad50;
}
.footer-links-social a:nth-of-type(4):hover{
   color: #FF0000; 
}

footer h6{
    padding: 0.5rem;
    font-size: 0.9rem;
    color: #7a6f6f;
}
.copyright-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* justify-items: center; */
    padding: 2rem 0.2rem;
    gap: 1rem;
    color: #eee;
    font-weight: 400;
    font-size: 0.75rem;
    flex-wrap: wrap;
}
.copyright-container p{
    max-width: 48rem;
    text-align: center;
}
   .logo-footer{
     font-family: 'Press Start 2P', cursive;
    }
.subscribe-newsletter{
    /* padding: 0.5rem 2rem; */
    padding: 0.3rem;
    /* border: 1px solid rgb(126, 37, 108); */
    border-radius: 0.2rem;
    position: relative;
}
.subscribe-newsletter input{
    /* height: 30px; */
    border: none;
    outline: none;
    padding: 0.48rem 0.4rem;

}
.subscribe-newsletter .fa-chevron-right{
    position: absolute;
    color: #fff;
    background: #cd128b;
    padding: 0.6rem 0.7rem;
    border-radius: 0px 6px 6px 0px;
    /* margin-top: -0.15rem; */
}
.subscribe-newsletter p{
    color: #bbb7dd;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}
/*END OF FOOTER */




/* MEDIA QUERIES -always keep this at the end of all code */

/* styles apply as long as screen not bigger than 800px */
@media (max-width:1050px){
.nav-big-screen{
    display: none;
}
.nav-small-screen{
    display: flex;
}

}
@media (min-width:700px) {
    .quick-links{
        grid-template-columns: 2fr 1fr;
    }
    .search-wrapper{
        order: 1;
    }
    .section-heading-wrapper{
         margin: 1rem 6rem 1rem 6rem;
    }
}
@media(min-width:1000px){
header{background-position: center center};
}
@media (max-width:1000px){
.top-story-container{
    grid-template-columns: 1fr;
}
.footer-wrapper{
    grid-template-columns: 1fr 1fr;
}
/* ====================== */
/* JOSEPH CSS MEDIA QUERRY */
.news-category-advert .big-screen-ad{
    display: none;
}
.news-category-advert .small-screen-ad{
    display: block;
}
.news-category-section{
    flex-wrap: wrap;
    margin: 10px;
}
.site-breaking-news h2{
    font-size: 16px;
}
.big-screen-breaking-category{
    display: none;
}
.small-screen-more-category{
    display: block;
}
.football--updates img{
    width: 100%;
    height: 250px;
}
.site-breaking-news{
    width: 100%;
}
.football--updates{
    width: 100%;
}

}
@media (max-width:500px) {
    .small-post img{
        width: 135px;
    }
    .small-post{
        font-size: 0.85rem;
        line-height: 1.5;
    }
    .top-story-big h3{
        font-size: 1.2rem;
      }
}
@media (max-width:480px){
    .footer-wrapper{
        grid-template-columns: 1fr;
    }
}
